.Centering {
  text-align: center;
}

.OuterJson {
  position: relative;
  margin: 10px;
}

.CopyButton {
  position: absolute;
  right: 10px;
  top: 10px;
}

.ChangeButton {
  margin-left: 10px;
}

.OuterTable {
  margin: 10px;
}

.EmptySpace {
  height: 20px;
}

.DisableColor {
  color: #E2E8F0;
}